.sidebar .sidebar-nav li {
  padding-left: 0.8em;
  margin-left: -0.8em;
}
.sidebar > h1 > a {
  width: 100%;
  height: 70px;
  background: url(tw-logo.svg);
  background-size: auto 50px;
  background-position: 10px 0px;
  background-repeat: no-repeat;
  color: #333;
  text-align: left;
  font-size: 0.5em;
  display: flex;
  align-items: flex-end;
  padding-left: 15px;
}
